In [1]:
import pandas as pd
import spacy
from pandarallel import pandarallel
pandarallel.initialize(progress_bar=True)

INFO: Pandarallel will run on 10 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

WARNING: You are on Windows. If you detect any issue with pandarallel, be sure you checked out the Troubleshooting page:
https://nalepae.github.io/pandarallel/troubleshooting/

In [2]:
nlp=spacy.load("en_core_web_sm")

In [3]:
filepath ="C:\\Users\\sudhi\\OneDrive\\Desktop\\Analytics Labs\\Practice DataSet from Keggle\\Movies\\"

In [4]:
df = pd.read_csv( filepath + "Movie.csv")

In [6]:
#checking for null values
df.isnull().sum().sum()

5202504

In [7]:
#dropping null values
df.dropna(inplace=True)

In [9]:
df.shape

(11616, 23)

In [11]:
#checking for duplicate value over out title column
df['original_title'].duplicated().sum()

176

In [12]:
#Removing Dublicate titles(Keeping the first entry)
df=df.drop_duplicates(subset='original_title',keep='first')

In [13]:
df['original_title'].duplicated().sum()

0

In [14]:
df.shape

(11440, 23)

In [15]:
df

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999766,728965,Life After Death: Quantum Realms,0.000,0,Released,2017-01-01,0,60,False,/jlpnuqmG3vO70LbZIx1RsEamIIX.jpg,...,en,Life After Death: Quantum Realms,Tens of thousands of years ago man stood uprig...,0.600,/bY5hl133WDOUtngsS18mjOCuNLE.jpg,Soul continues on a quantum level – scientists...,Documentary,Reality Entertainment,United States of America,English
1000044,728503,Tribe: The Untold Story of the Making of Vice ...,0.000,0,Released,2020-02-20,0,10,False,/kwpANiyObTPqFLrIVNe2bhph2EE.jpg,...,en,Tribe: The Untold Story of the Making of Vice ...,Two brave young men set out to create the grea...,0.600,/9VmT16H0Qsswjr8vmjcRMM8l40z.jpg,Don't forget the VENGEANCE,"Comedy, Action, Drama","Reel Green Pictures, Manuel Alejandro Films",United States of America,English
1005129,721957,Ghost in the Family,0.000,0,Released,2018-12-31,0,100,False,/hsoCtZLPqOkXTXYod0zPpcsEf9O.jpg,...,en,Ghost in the Family,When an emotionally broken family moves into a...,0.944,/18Ax9a0HtCTjYXPGy1Cqjm7NiD0.jpg,What if The Sixth Sense was a comedy?,"Family, Comedy","Creative Lexington, ITN Movies",United States of America,English
1005140,722226,Offstage Elements,0.000,0,Released,2019-04-13,0,107,False,/oL3usdTCxPU9aivYsvBIDSPzjN3.jpg,...,en,Offstage Elements,An aspiring heavy metal band's lead singer ret...,1.400,/bo0vhH7JQzrKqtRGNu2AyVKFWVR.jpg,The kind of rock and roll that will feed your ...,"Drama, Music","DreamQuest Entertainment, Don't Go There Produ...",United States of America,English
1005582,721705,Have You Seen Buster?,0.000,0,Released,2019-08-01,0,6,False,/5E6WXukN0zCigHPefOelqUyPFxM.jpg,...,en,Have You Seen Buster?,"Spirited, determined 12-year-old Jacob embarks...",0.600,/xY8PKJyNJ6OFHBwb64HQAgvRkkh.jpg,"He's a dog, he's about yea high, and he's VERY...","Comedy, Adventure, Romance",Big Tent Films,United Kingdom,English

Strategy:
    -Remove unwanted columns
    -make a columns with keywords and genre
    -vactorize the string
    -find similarity between the movies
    -for recommendation, we will use K nearest movies to the movie being watched.

In [17]:
df1=df[['genres','original_title','overview','production_companies']]

In [18]:
df1.head(3)

,genres,original_title,overview,production_companies
0,"Action, Science Fiction, Adventure",Inception,"Cobb, a skilled thief who commits corporate es...","Legendary Pictures, Syncopy, Warner Bros. Pict..."
1,"Adventure, Drama, Science Fiction",Interstellar,The adventures of a group of explorers who mak...,"Legendary Pictures, Syncopy, Lynda Obst Produc..."
2,"Drama, Action, Crime, Thriller",The Dark Knight,Batman raises the stakes in his war on crime. ...,"DC Comics, Legendary Pictures, Syncopy, Isobel..."

## Data Preparation

In [19]:
def remove_space(entry):
    return str(entry).replace(" ","")

In [20]:
df1['genres'] = df1['genres'].apply(remove_space)
df1['production_companies'] = df1['production_companies'].apply(remove_space)

C:\Users\sudhi\AppData\Local\Temp\ipykernel_3268\233122126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['genres'] = df1['genres'].apply(remove_space)
C:\Users\sudhi\AppData\Local\Temp\ipykernel_3268\233122126.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['production_companies'] = df1['production_companies'].apply(remove_space)

In [21]:
df1.head(3)

,genres,original_title,overview,production_companies
0,"Action,ScienceFiction,Adventure",Inception,"Cobb, a skilled thief who commits corporate es...","LegendaryPictures,Syncopy,WarnerBros.Pictures"
1,"Adventure,Drama,ScienceFiction",Interstellar,The adventures of a group of explorers who mak...,"LegendaryPictures,Syncopy,LyndaObstProductions"
2,"Drama,Action,Crime,Thriller",The Dark Knight,Batman raises the stakes in his war on crime. ...,"DCComics,LegendaryPictures,Syncopy,IsobelGriff..."

In [22]:
df1.dropna(inplace = True)

C:\Users\sudhi\AppData\Local\Temp\ipykernel_3268\225149428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace = True)

In [23]:
df1['tag']=df1['genres']  + df1['overview'] + df1['production_companies']

C:\Users\sudhi\AppData\Local\Temp\ipykernel_3268\431937525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['tag']=df1['genres']  + df1['overview'] + df1['production_companies']

In [25]:
df2=df1[['original_title','tag']]
df2.head(3)

    original_title                                                tag
0        Inception  Action,ScienceFiction,AdventureCobb, a skilled...
1     Interstellar  Adventure,Drama,ScienceFictionThe adventures o...
2  The Dark Knight  Drama,Action,Crime,ThrillerBatman raises the s...

In [29]:
def clean_text(text):
    import spacy
    nlp=spacy.load("en_core_web_sm")
    doc=nlp(text)
    clean_text=[]
    for token in doc:
        if not token.is_stop and not token.is_left_punct and not token.is_space:
            clean_text.append(token.lemma_.lower())
    return " ".join(clean_text)

In [30]:
df2['clean_text'] =df2['tag'].parallel_apply(clean_text)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1144), Label(value='0 / 1144'))), …

C:\Users\sudhi\AppData\Local\Temp\ipykernel_3268\2157328148.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['clean_text'] =df2['tag'].parallel_apply(clean_text)

In [31]:
df2

,original_title,tag,clean_text
0,Inception,"Action,ScienceFiction,AdventureCobb, a skilled...","action , sciencefiction , adventurecobb , skil..."
1,Interstellar,"Adventure,Drama,ScienceFictionThe adventures o...","adventure , drama , sciencefictionthe adventur..."
2,The Dark Knight,"Drama,Action,Crime,ThrillerBatman raises the s...","drama , action , crime , thrillerbatman raise ..."
3,Avatar,"Action,Adventure,Fantasy,ScienceFictionIn the ...","action , adventure , fantasy , sciencefictioni..."
4,The Avengers,"ScienceFiction,Action,AdventureWhen an unexpec...","sciencefiction , action , adventurewhen unexpe..."
...,...,...,...
999766,Life After Death: Quantum Realms,DocumentaryTens of thousands of years ago man ...,documentaryten thousand year ago man stand upr...
1000044,Tribe: The Untold Story of the Making of Vice ...,"Comedy,Action,DramaTwo brave young men set out...","comedy , action , dramatwo brave young man set..."
1005129,Ghost in the Family,"Family,ComedyWhen an emotionally broken family...","family , comedywhen emotionally break family m..."
1005140,Offstage Elements,"Drama,MusicAn aspiring heavy metal band's lead...","drama , musican aspire heavy metal band lead s..."
1005582,Have You Seen Buster?,"Comedy,Adventure,RomanceSpirited, determined 1...","comedy , adventure , romancespirited , determi..."

In [32]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [33]:
vactor_array = CountVectorizer(max_features=2000).fit_transform(df2['clean_text']).toarray()

#### Similarity matrix

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity = cosine_similarity(vactor_array)
similarity

array([[1.        , 0.05057217, 0.13900961, ..., 0.        , 0.        ,
        0.05057217],
       [0.05057217, 1.        , 0.08084521, ..., 0.04356068, 0.05170877,
        0.11764706],
       [0.13900961, 0.08084521, 1.        , ..., 0.        , 0.03553345,
        0.        ],
       ...,
       [0.        , 0.04356068, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.05170877, 0.03553345, ..., 0.        , 1.        ,
        0.        ],
       [0.05057217, 0.11764706, 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [37]:
similarity.shape

(11440, 11440)

In [39]:
similarity_df=pd.DataFrame(similarity,index = df2.original_title,columns=df2.original_title)

In [41]:
similarity_df.head()

original_title,Inception,Interstellar,The Dark Knight,Avatar,The Avengers,Deadpool,Avengers: Infinity War,Fight Club,Guardians of the Galaxy,Pulp Fiction,...,Represent,The Float,קילומטר 147,Loco cielo de abril,どうしようもない恋の唄,Life After Death: Quantum Realms,Tribe: The Untold Story of the Making of Vice Cops,Ghost in the Family,Offstage Elements,Have You Seen Buster?
original_title,,,,,,,,,,,,,,,,,,,,,
Inception,1.000000,0.050572,0.139010,0.049147,0.083406,0.074901,0.041703,0.000000,0.222911,0.000000,...,0.0,0.000000,0.0,0.072595,0.045502,0.046625,0.052129,0.000000,0.000000,0.050572
Interstellar,0.050572,1.000000,0.080845,0.114332,0.000000,0.087121,0.145521,0.000000,0.064820,0.125245,...,0.0,0.073127,0.0,0.000000,0.052926,0.054233,0.060634,0.043561,0.051709,0.117647
The Dark Knight,0.139010,0.080845,1.000000,0.039284,0.100000,0.029934,0.033333,0.000000,0.089087,0.086066,...,0.0,0.050252,0.0,0.000000,0.072739,0.037268,0.125000,0.000000,0.035533,0.000000
Avatar,0.049147,0.114332,0.039284,1.000000,0.047140,0.127000,0.141421,0.050252,0.062994,0.060858,...,0.0,0.000000,0.0,0.041030,0.000000,0.000000,0.058926,0.000000,0.000000,0.057166
The Avengers,0.083406,0.000000,0.100000,0.047140,1.000000,0.035921,0.120000,0.000000,0.160357,0.000000,...,0.0,0.000000,0.0,0.034816,0.000000,0.111803,0.050000,0.000000,0.000000,0.000000

In [42]:
similarity_df['Inception'].sort_values(ascending=False)[1:5]

original_title
The Ant Bully                 0.318511
Suicide Squad: Hell to Pay    0.258023
Future                        0.255377
धूम २                         0.240772
Name: Inception, dtype: float64

In [45]:
def recommend(movie_name,count):
    
    return list(similarity_df[movie_name].sort_values(ascending=False)[1:count+1].index.values)

In [46]:
recommend("The Dark Knight",10)

['The Dark Knight Rises',
 'Cut to the Chase',
 'Batman: Under the Red Hood',
 'Batman Begins',
 'Batman: The Killing Joke',
 'Batman vs. Two-Face',
 'Hacker',
 'डॉन',
 '新宿事件',
 'Rise of the Footsoldier']

In [48]:
similarity_df.to_pickle(filepath + "movie_matrix.pkl")